.gitattributes export-ignore
.gitignore export-ignore
.distignore export-ignore
.editorconfig export-ignore
README.md export-ignore
biome.json export-ignore
package.json export-ignore
package-lock.json export-ignore
composer.json export-ignore
composer.lock export-ignore
postcss.config.mjs export-ignore
phpcs.xml.dist export-ignore
phpstan.dist.neon export-ignore

/.circleci export-ignore
/.claude export-ignore
/.github export-ignore
/.husky export-ignore
/.idea export-ignore
/.wordpress-org export-ignore
/assets export-ignore
/svn export-ignore
/vendor export-ignore
.gktools.json export-ignore
.gktools.env export-ignore
